<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/scss/style.css" />
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <title> Highlight </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.history.pushState("", "", '/profile');
        // FONTE: https://stackoverflow.com/questions/39308798/change-url-where-to-render-view-with-express-4

        $(document).ready(function () {

            var socket = io();

            $(document).on('click',".join",function () {
                //nome do grupo que cliquei no botao
                var namebutton = this.value.toString();
                //mudar nome do [Grupo Name]
                document.getElementById("titleroom").innerHTML = namebutton;

                //show text message
                $("#feed_form").attr("style","display: block");

                //remove last group messages
                $('ul#messages').empty();

                //get username login
                var username = document.getElementById("usernamelogin").innerHTML;
                socket.emit("join",username,namebutton);

                //add admin properties (edit name, send invites, etc)
                socket.emit('isadmin',username, namebutton);
            });

            $("#new_room").click(function () {
                // nome do group
                var namegroup = Date.now().toString();

                // change title room
                document.getElementById("titleroom").innerHTML = namegroup;

                // show insert text message box
                $("#feed_form").attr("style","display: block");

                //remove last group messages
                $('ul#messages').empty();

                // get username that login
                var username = document.getElementById("usernamelogin").innerHTML;

                // go to socket server with username and room name
                socket.emit("create",username,namegroup);


                //add admin properties (edit name, send invites, etc)
                socket.emit('isadmin',username, namegroup);

                $("#online_chat_rooms:last").append('<input type="button" name="' + namegroup + '" class="join" value="' + namegroup + '">');
            });

            $('#feed_form').submit(function () {
                // go to socket server with room name
                socket.emit('chat message', $('#m').val(), document.getElementById("titleroom").innerHTML, document.getElementById("usernamelogin").innerHTML);
                console.log($('#m').val());
                // reset message
                $('#m').val('');
                return false;
            });


            socket.on('chat message', function (msg, username) {
                $('#messages').append('<li class="message">' + ('<span class="message-username">'+ username + ": " +'</span>' + '<span class="message-content">' + msg + '</span>') + '</li>');

                //window.scrollTo(0, document.body.scrollHeight);
                const element = document.querySelector("#messages")
                element.scrollTop = element.scrollHeight;
            });

            socket.on('update', function (username, roomname) {
                var roomnamehtml = document.getElementById("titleroom").innerHTML;
                if(roomnamehtml === roomname) {
                    $('#messages').append('<li style="background-color:#000000;color:#FFFFFF">' + (username) + '</li>');

                    window.scrollTo(0, document.body.scrollHeight);
                    const element = document.querySelector("#messages")
                    element.scrollTop = element.scrollHeight;
                }
            });

            socket.on('adminprop', function(uname, roomname){
                //add properties
                var roomnamehtml = document.getElementById("titleroom").innerHTML;
                var username = document.getElementById("usernamelogin").innerHTML;
                if(roomnamehtml === roomname && username === uname && $('#adduser').length < 1 && $('#editname').length < 1) {
                    $("#addbuttons").empty();
                    $("#addbuttons").append('<button id="editname"><img src="/img/edit.png" alt="Edit Group Name"/></button>');
                    $("#addbuttons").append('<button id="adduser"><img src="/img/add_user.png" alt="Add User to Group"/></button>');
                }
            })

            socket.on('removeadminprop', function(uname, roomname){
                //remove properties
                var roomnamehtml = document.getElementById("titleroom").innerHTML;
                var namelen = roomname.length;
                roomnamehtml.substring(0,namelen);
                var username = document.getElementById("usernamelogin").innerHTML;
                if(roomnamehtml === roomname && username === uname && $('#removeuser').length < 1) {
                    $("#addbuttons").empty();
                    if(roomnamehtml !== "Global Chat") {
                        $("#addbuttons").append('<button id="removeuser"><img src="/img/remove_user.png" alt="Leave Group"/></button>');
                    }
                }
            })

            $("#addbuttons").on('click','#editname',function(){
                //alert to insert name (can happen to be null)
                var newroomname = prompt("Please enter new room name", "");

                if(newroomname !== "" && newroomname != null) {
                    //get old room name
                    var oldroomname = document.getElementById("titleroom").innerHTML;

                    // check if newroomname is unique in db
                    socket.emit('isroomnameunique', newroomname, oldroomname);

                }
                else{
                    alert('Not possible to enter this room name!');
                }
            })

            socket.on('changenameroom',function(newname, oldname){
                var roomnamehtml = document.getElementById("titleroom").innerHTML;
                if(roomnamehtml === oldname){
                    // change html name
                    $('#titleroom').html(newname);
                }

                //change value and name of button that has oldname
                $('input.join[name=' + oldname + ']').attr("value",newname);
                $('input.join[name=' + oldname + ']').attr("name",newname);

                //change ids and html of invite with oldname
                $('span#'+oldname+'[id='+oldname+']').html(newname);
                $('span#'+oldname+'[id='+oldname+']').attr("id",newname);
                $('input#'+oldname+'.buttony').attr("id",newname);
                $('input#'+oldname+'.buttonn').attr("id",newname);
            })

            $("#addbuttons").on('click','#adduser',function(){
                var roomname = document.getElementById("titleroom").innerHTML;

                socket.emit('send list invite', roomname);
            })

            socket.on('send invite', function(arrayAvaiableUsers){
                if($('#sendinvite').length < 1) {
                    var select = $('<select name="inviteuser" class="sendinvite"></select>');
                    $("#adduser").after($('<input type="button" id="sendinvite" value="Send Invite">'));
                    for (var i = 0; i < arrayAvaiableUsers.length; i++) {
                        var option = $('<option></option>');
                        $(option).val(arrayAvaiableUsers[i]);
                        $(option).html(arrayAvaiableUsers[i]);
                        $(select).append(option);
                    }
                    $("#adduser").after(select);
                }
            })

            $(document).on("click","input#sendinvite",function(){
                var chosenoption = $('select[name=inviteuser] option:selected').val();
                //fonte: https://stackoverflow.com/questions/13089944/jquery-get-selected-option-value-not-the-text-but-the-attribute-value

                var roomname = document.getElementById("titleroom").innerHTML;

                $('.sendinvite').remove();
                $("input#sendinvite").remove();

                socket.emit('send invitee', chosenoption, roomname);
            })

            socket.on('updateinvites',function(receiver,roomname){
                var usernameonpage = document.getElementById("usernamelogin").innerHTML;
                if(usernameonpage === receiver){
                    // insert new invite as button
                    $("#invitations_chat_rooms:last").append('<span id="' + roomname + '">' + roomname + '</span>');
                    $("#invitations_chat_rooms:last").append('<input type="button" id="' + roomname + '" class="buttony" value="Accept" />');
                    $("#invitations_chat_rooms:last").append('<input type="button" id="' + roomname + '" class="buttonn" value="Decline" />');
                }
            })

            $(document).on('click',"input.buttonn",function(){
                var uname = document.getElementById("usernamelogin").innerHTML;
                var deniedinv = this.id;

                // remove roomname, buttony and buttonn
                $('#' + deniedinv).remove();
                $('#' + deniedinv).remove();
                $('#' + deniedinv).remove();

                socket.emit('remove invite', uname, deniedinv);
            })

            $(document).on('click',"input.buttony",function(){
                var uname = document.getElementById("usernamelogin").innerHTML;
                var acceptinv = this.id;

                // insert new group as button
                $("#online_chat_rooms:last").append('<input type="button" name="' + acceptinv + '" class="join" value="' + acceptinv + '">');

                // remove roomname, buttony and buttonn
                $('#' + acceptinv).remove();
                $('#' + acceptinv).remove();
                $('#' + acceptinv).remove();

                socket.emit('accept invite', uname, acceptinv);
            })

            //leave group
            $("#addbuttons").on('click','#removeuser',function(){
                //alert to confirm (can be true or false)
                if(confirm("Are you sure you want to leave the group?")){
                    //get room name
                    var roomname = document.getElementById("titleroom").innerHTML;

                    // get username that login
                    var username = document.getElementById("usernamelogin").innerHTML;

                    socket.emit('leaveroom', roomname, username);
                }
            })

            socket.on('deletegroup',function(roomname,username){
                var usern = document.getElementById("usernamelogin").innerHTML;
                if(usern === username){
                    $('input.join[name=' + roomname + ']').remove();

                    $('p#titleroom').html('[Group Name]');
                    $('#addbuttons').empty();
                    $('ul#messages').empty();
                    $('#feed_form').attr("style","display: none");
                }
            })
        });
    </script>
</head>
<body>
    <!-- <img src="/img/logo.png" alt="Image of the Social Network Logo"/>
    <button href = "profile.hmtl"></button> -->
    <!-- onclick="window.location.href='profile.ejs';"> -> Ideia: dar refress ou voltar a pagina profile.ejs/// Problema Cannot GET /signin/profile.ejs -->
    <!-- https://stackoverflow.com/questions/8683528/embed-image-in-a-button-element -->
    <div class="headerMenu">
        <div id ="wrapper">
            <div class="logo">
                <img src="/img/logo.png" alt="Image of the Highlight Logo"/>
            </div>
            <div id="menu">
                <a href="/" >Logout</a>
            </div>
        </div>
    </div>
    <!--
<div id="Join_Chat">
    <form id="Join_Chat_Form">
    </form>
</div>
-->
    <div id="feed">

        <div class="grid_wrapper">
            <div id = "chatrooms">
                <h1>Available Chat rooms:</h1>
                <form id="online_chat_rooms">
                    <% for (var i = 0; i < rooms.length ; i++) { %>
                        <input type="button" name="<%= rooms[i] %>" class="join" value="<%= rooms[i] %>">
                    <% } %>
                </form>
                <form id="new_room">
                    <input type="button" value="New Group">
                </form>
            </div>

            <div id="live_feed">
                <div id="chatroom_header">
                    <h1 id="titleroom">[Group Name]</h1>
                    <div id="addbuttons"></div>
                </div>
                <ul id="messages"></ul>

            </div>

            <div id = "chatroom_invitations">
                <h1>Chat room invites:</h1>
                <form id="invitations_chat_rooms">
                    <% for (var k = 0; k < invites.length ; k++) { %>
                        <span id="<%= invites[k] %>"><%= invites[k] %></span>
                        <input type="button" id="<%= invites[k] %>" class="buttony" value="Accept" />
                        <input type="button" id="<%= invites[k] %>" class="buttonn" value="Decline" />
                    <% } %>
                </form>
            </div>
        </div>

        <div class="center">
            <form id="feed_form" action="">
                <input id="m"  autocomplete="off" /><button class="send">Send Message</button>
            </form>
        </div>
        <div id="my_avatar">
            <img id="youravatar" src="" alt="Your Avatar">
            <script>
                $("#youravatar").attr("src","<%= avatarlogin %>");
            </script>
            <p style="width: 324px" id="usernamelogin"><%= userlogin %></p>
        </div>
    </div>

</body>

</html>