<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/scss/style.css" />
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <title> Highlight </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.history.pushState("", "", '/profile');
        // FONTE: https://stackoverflow.com/questions/39308798/change-url-where-to-render-view-with-express-4

        $(document).ready(function () {

            var socket = io();

            $("#join").click(function () {
                $("#feed_form").attr("style","display: block");
                //$("#titleroom").innerHTML = <%= rooms[i] %>;
                io.in(<%= rooms[i] %>).emit("join","<%= userlogin %>");

                socket.emit("join","<%= userlogin %>");

                alert("You entered the group!!");
            });

            $("#new_room").click(function () {
                // nome do group
                var namegroup = Date.now().toString();
                // change title room
                document.getElementById("titleroom").innerHTML = namegroup;
                // show insert text message box
                $("#feed_form").attr("style","display: block");
                // get username that login
                var username = document.getElementById("usernamelogin");
                // go to socket server with username and room name
                socket.emit("create",username.innerHTML,namegroup);
                // insert new group as button (ERROR: replaces global chat button)
                $("#online_chat_rooms:last").append('<input type="button" name="' + namegroup + '" id="join" value="' + namegroup + '">');

                alert("You created a new group!!");
            });

            $('#feed_form').submit(function () {
                // go to socket server with room name
                socket.emit('chat message', $('#m').val(), document.getElementById("titleroom").innerHTML, document.getElementById("usernamelogin").innerHTML);
                console.log($('#m').val());
                // reset message
                $('#m').val('');
                return false;
            });
            socket.on('chat message', function (msg, username) {
                $('#messages').append('<li style=background-color:#F5DEB3>' + (username + ": " + msg) + '</li>');
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on('update', function (msg) {
                $('#messages').append('<li style="background-color:#000000;color:#FFFFFF">' + (msg) + '</li>');
                window.scrollTo(0, document.body.scrollHeight);
            });
        });
    </script>
</head>
<body>
    <!-- <img src="/img/logo.png" alt="Image of the Social Network Logo"/>
    <button href = "profile.hmtl"></button> -->
    <!-- onclick="window.location.href='profile.ejs';"> -> Ideia: dar refress ou voltar a pagina profile.ejs/// Problema Cannot GET /signin/profile.ejs -->
    <!-- https://stackoverflow.com/questions/8683528/embed-image-in-a-button-element -->
    <div class="headerMenu">
        <div id ="wrapper">
            <div class="logo">
                <img src="/img/logo.png" alt="Image of the Highlight Logo"/>
            </div>
            <div id="menu">
                <a href="/logout" >Logout</a>
            </div>
        </div>
    </div>
</div>
    <!--
<div id="Join_Chat">
    <form id="Join_Chat_Form">
    </form>
</div>
-->
<div id="feed">

    <br>

    <div id = "Chat_Rooms">
        <p>Available Chat rooms:</p>
        <form id="online_chat_rooms">
            <% for (var i = 0; i < rooms.length ; i++) { %>
                <input type="button" name="<%= rooms[i] %>" id="join" value="<%= rooms[i] %>">
            <% } %>
        </form>
        <form id="new_room">
            <input type="button" value="New Group">
        </form>
    </div>

    <div id="live_feed">
        <p id="titleroom">[Group Name]</p>
        <ul id="messages"></ul>
    </div>

    <form id="feed_form" action="" style="display: none">
        <input style="width:90%" id="m"  autocomplete="off" /><button>Send Message</button>
    </form>

    <div id="my_avatar">
        <img id="youravatar" src="" alt="Your Avatar">
        <script>
            $("#youravatar").attr("src","<%= avatarlogin %>");
        </script>
        <p style="width: 324px" id="usernamelogin"><%= userlogin %></p>
    </div>
</div>

</body>

</html>