<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/scss/style.css" />
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <title> Highlight </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.history.pushState("", "", '/profile');
        // FONTE: https://stackoverflow.com/questions/39308798/change-url-where-to-render-view-with-express-4

        $(document).ready(function () {

            var socket = io();

            $(".join").click(function () {
                //nome do grupo que cliquei no botao
                var namebutton = this.value.toString();
                //mudar nome do [Grupo Name]
                document.getElementById("titleroom").innerHTML = namebutton;

                //show text message
                $("#feed_form").attr("style","display: block");

                //get username login
                var username = document.getElementById("usernamelogin").innerHTML;
                socket.emit("join",username,namebutton);

                //add admin properties (edit name, send invites, etc)
                socket.emit('isadmin',username, namebutton);
            });

            $("#new_room").click(function () {
                // nome do group
                var namegroup = Date.now().toString();

                // change title room
                document.getElementById("titleroom").innerHTML = namegroup;

                // show insert text message box
                $("#feed_form").attr("style","display: block");

                // get username that login
                var username = document.getElementById("usernamelogin").innerHTML;

                // go to socket server with username and room name
                socket.emit("create",username,namegroup);

                // insert new group as button
                $("#online_chat_rooms:last").append('<input type="button" name="' + namegroup + '" class="join" value="' + namegroup + '">');

                //add admin properties (edit name, send invites, etc)
                socket.emit('isadmin',username, namegroup);
            });

            $('#feed_form').submit(function () {
                // go to socket server with room name
                socket.emit('chat message', $('#m').val(), document.getElementById("titleroom").innerHTML, document.getElementById("usernamelogin").innerHTML);
                console.log($('#m').val());
                // reset message
                $('#m').val('');
                return false;
            });

            $('.buttonn').click(function(){
                var uname = document.getElementById("usernamelogin").innerHTML;
                var deniedinv = this.id;

                // remove roomname, buttony and buttonn
                $('#' + deniedinv).remove();
                $('#' + deniedinv).remove();
                $('#' + deniedinv).remove();

                socket.emit('remove invite', uname, deniedinv);
            })

            $('.buttony').click(function(){
                var uname = document.getElementById("usernamelogin").innerHTML;
                var acceptinv = this.id;

                // insert new group as button
                $("#online_chat_rooms:last").append('<input type="button" name="' + acceptinv + '" id="join" value="' + acceptinv + '">');

                // remove roomname, buttony and buttonn
                $('#' + acceptinv).remove();
                $('#' + acceptinv).remove();
                $('#' + acceptinv).remove();

                socket.emit('accept invite', uname, acceptinv);
            })

            socket.on('chat message', function (msg, username) {
                $('#messages').append('<li style=background-color:#F5DEB3>' + (username + ": " + msg) + '</li>');
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on('update', function (username, roomname) {
                $('#messages').append('<li style="background-color:#000000;color:#FFFFFF">' + (username) + '</li>');
                window.scrollTo(0, document.body.scrollHeight);
            });

            socket.on('adminprop', function(uname, roomname){
                //add properties
                $("#addbuttons").append('<button id="editname"><img src="/img/edit.png" alt="Edit Group Name"/></button>');
                $("#addbuttons").append('<button id="adduser"><img src="/img/add_user.png" alt="Add User to Group"/></button>');
            })

            $("#addbuttons").on('click','#editname',function(){
                //alert to insert name (can happen to be null)
                var newroomname = prompt("Please enter new room name", "");

                // change title room
                document.getElementById("titleroom").innerHTML = newroomname;
            })


            $("#addbuttons").on('click','#adduser',function(){
                //alert to insert name (can happen to be null)
                var receiver = prompt("Please enter username to send invite", "");

                var roomname = document.getElementById("titleroom").innerHTML;

                socket.emit('send invite', receiver, roomname);
            })
        });
    </script>
</head>
<body>
    <!-- <img src="/img/logo.png" alt="Image of the Social Network Logo"/>
    <button href = "profile.hmtl"></button> -->
    <!-- onclick="window.location.href='profile.ejs';"> -> Ideia: dar refress ou voltar a pagina profile.ejs/// Problema Cannot GET /signin/profile.ejs -->
    <!-- https://stackoverflow.com/questions/8683528/embed-image-in-a-button-element -->
    <div class="headerMenu">
        <div id ="wrapper">
            <div class="logo">
                <img src="/img/logo.png" alt="Image of the Highlight Logo"/>
            </div>
            <div id="menu">
                <a href="/" >Logout</a>
            </div>
        </div>
    </div>
</div>
    <!--
<div id="Join_Chat">
    <form id="Join_Chat_Form">
    </form>
</div>
-->
<div id="feed">

    <br>

    <div id = "Chat_Rooms">
        <p>Available Chat rooms:</p>
        <form id="online_chat_rooms">
            <% for (var i = 0; i < rooms.length ; i++) { %>
                <input type="button" name="<%= rooms[i] %>" class="join" value="<%= rooms[i] %>">
            <% } %>
        </form>
        <form id="new_room">
            <input type="button" value="New Group">
        </form>
    </div>

    <div id="live_feed">
        <p id="titleroom">[Group Name]</p>
        <p id="addbuttons"></p>
        <ul id="messages"></ul>
    </div>

    <div id = "div_invitations">
        <p>Invitation Chat rooms:</p>
        <form id="invitations_chat_rooms">
            <% for (var k = 0; k < invites.length ; k++) { %>
                <span id="<%= invites[k] %>"><%= invites[k] %></span>
                <input type="button" id="<%= invites[k] %>" class="buttony" value="Accept" />
                <input type="button" id="<%= invites[k] %>" class="buttonn" value="Decline" />
            <% } %>
        </form>

    </div>

    <form id="feed_form" action="" style="display: none">
        <input style="width:90%" id="m"  autocomplete="off" /><button>Send Message</button>
    </form>

    <div id="my_avatar">
        <img id="youravatar" src="" alt="Your Avatar">
        <script>
            $("#youravatar").attr("src","<%= avatarlogin %>");
        </script>
        <p style="width: 324px" id="usernamelogin"><%= userlogin %></p>
    </div>
</div>

</body>

</html>